*{
    margin: 0;
}
.head{
   display: flex;
   gap: 60%;
   margin: 20px;
}
.head2{
    display: flex;
    gap: 5%;
}
.proj{
    font-size: 40px;
    margin: 30px;
}
.houses{
    display: flex;
    justify-content: space-evenly;
}
.house{
    background-color: black;
    color: white;
    font-size: 30px;
}
.slova{
    margin: 20px;
    font-size: 20px
}
.contac{
    display: flex;
}
.name{
    font-size: 25px;
    margin: 10px 20px;
}
.image{
    margin: 10px 20px;
}
.opis{
    color: rgb(156, 154, 154);
    font-size: 20px;
    margin: 10px 20px;
}
.prost{
    margin: 10px 20px;
}
button{
    width: 350px;
    margin: 10px 20px;
    padding: 10px;
}
input{
    width: 95%;
    margin: 10px 20px;
    padding: 10px;
}
.send{
    padding: 20px;
    width: 200px;
    color: white;
    background-color: black;
}
.ebd{
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px;
    font-size: 20px;
}